body {
	margin: 0px;
	padding: 0px 15px;
	border: 0px;
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-family: Georgia, serif;
	font-size: 62.5%;
}

ul {
	list-style-type: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
	margin: 0px;
	padding: 0px;
	border: 0px;
}
/*---------------------------------------------*/

a, div, h1, h2, h3, h4, h5, h6, img, li, p, span, strong, ul {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

header {
	border-bottom: 1px solid #dadada;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

#header-container {
	height: 40px;
	padding: 15px 0px;
}

#logo {
	float: left;
	width: 20%;
	height: 40px;
}

#logo a {
	float:left;
	width: 32px;
	height: 40px;
	background: url(../images/Origamista-Logo.png);
}

#nav {
	height: 40px;
	width: 80%;
	float: left;
}

#nav label, #nav input {
	display: none;
}

#nav li {
	/*float: left;*/
	font-size: 1.6em;
	display: inline-block;
	line-height: 40px;
	/*width: 33%;*/
	margin-right: 15%;
}

#nav a {
	text-decoration: none;
	color: black;
}

a#current {
	color: red;
}